.body {
  background-color: grey;
  height: 100vh;
}

.App {
  background-color: rgb(102, 140, 86);
}
.starting-info {
  height: 100vh;
}

.char-button,
.location-button {
  background-color: rgb(55, 122, 64); /* Green */
  border: none;
  color: rgb(78, 173, 200);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.1s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: center;
}

.char-button:hover,
.location-button:hover {
  background-color: rgb(219, 220, 94);
  color: rgb(59, 133, 167);
  text-shadow: 1px 1px #000000;
  font-size: 30px;
}
.pagination {
  display: flex;
  /* justify-content: center; */
  list-style: none;
}

.page-item {
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border: 1px;
}
.pagination {
  display: flex;
  background-color: grey;
  outline: 5px dotted green;
}
.logo {
  width: 100vw;
  height: 50vh;
}
